.container {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
}
@media(min-width: 768px) {
	.container {
		width: 768px;
	}
}
@media(min-width: 992px) {
	.container {
		width: 992px;
	}
}
@media(min-width: 1200px) {
	.container {
		width: 1200px;
	}
}

body {
	display: flex;
	flex-direction: column;
	font-family: var(--primary-font);
	margin: var(--header-mobile-height) 0 0;
	min-height: calc(var(--header-mobile-height) - 100vh);
}
@media(min-width: 768px) {
	body {
		margin: var(--header-height) 0 0;
		min-height: calc(var(--header-height) - 100vh);
	}
}

.main {
	flex: 1;
	width: 100%;
}
.main--timer {
	margin: 60px 0 0;
}
@media(min-width: 768px) {
	.main--timer {
		margin: 40px 0 0;
	}
}