.button {
	background: var(--primary-color) !important;
	border: 1px solid var(--secondary-color) !important;
	border-radius: 3px !important;
	box-sizing: border-box;
	color: var(--secondary-color) !important;
	font-size: 17px !important;
	font-weight: 700 !important;
	margin: 0 !important;
	padding: 10px 25px !important;
	text-align: center;
	text-decoration: none !important;
	transition: all 0.15s !important;
}
@media(max-width: 767px) {
	.button {
		font-size: 14px !important;
		padding: 15px !important;
		width: 100%;
	}
}
.button:hover {
	background: var(--secondary-color) !important;
	color: var(--primary-color) !important;
}
.button.alt {
	background: var(--primary-color) !important;
	color: var(--secondary-color) !important;
}
.button.alt:hover {
	background: var(--secondary-color) !important;
	color: var(--primary-color) !important;
}