.custom-logo-link {
	color: var(--secondary-color);
	font-size: 52px;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
}

.custom-logo {
	height: initial;
	width: var(--logo-mobile-width);
}
@media(min-width: 768px) {
	.custom-logo {
		width: var(--logo-desktop-width);
	}
}